@model ML.Automovil
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Automoviles</h2>
<div class="container">

    <div class=" row">
        <div class=" col-md-12 col-sm-3 text-right">
            @Html.ActionLink("+", "Form", "Automovil", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
</div>
<div class="row" style="padding-top:30px">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th class="text-center" scope="col">
                    Editar
                </th>
                <th class="text-center" scope="col">
                    Matricula
                </th>
                <th class="text-center" scope="col">
                    Marca
                </th>
                <th class="text-center" scope="col">
                    Modelo
                </th>
                <th class="text-center" scope="col">
                    Color
                </th>
                <th class="text-center" scope="col">
                    Latitud Inicial
                </th>
                <th class="text-center" scope="col">
                    Longitud Inicial
                </th>
                <th class="text-center" scope="col">
                    Latitud Final
                </th>
                <th class="text-center" scope="col">
                    Longitud Final
                </th>
                <th class="text-center" scope="col">
                    Eliminar
                </th>
            </tr>

            @foreach (ML.Automovil automovil in Model.Automoviles)
            {
                <tr>
                    <td class="text-center">
                        <a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Automovil", new { Matricula = automovil.Matricula })"></a>
                    </td>

                    <td class="text-center">
                        @automovil.Matricula
                    </td>

                    <td class="text-center">
                        @automovil.Marca
                    </td>

                    <td class="text-center">
                        @automovil.Modelo
                    </td>
                    <td class="text-center">
                        @automovil.Color
                    </td>
                    <td class="text-center">
                        @automovil.LatitudInicial
                    </td>
                    <td class="text-center">
                        @automovil.LongitudInicial
                    </td>
                    <td class="text-center">
                        @automovil.LatitudFinal
                    </td>
                    <td class="text-center">
                        @automovil.LongitudFinal
                    </td>
                    <th class="text-center">
                        <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Automovil", new { Matricula= automovil.Matricula})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');" ;></a>
                    </th>
                </tr>
            }

        </table>
    </div>

</div>
